/* navbar */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.change-color{
  background-color: #4a80bee3;
}
.logo img{
  width: 50px;
  height: 50px;
}

/* home */

table{
  width: 100%;
  
}
/* .tables{
  padding: 8px;
  border-radius:6px;
  box-shadow: 0px 1px 5px 3px rgba(103, 94, 94, 0.491);
} */
i{
  background-color: rgb(157, 151, 151);
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  object-fit: cover;
  
}




.main-content{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
.icons{
  font-size: 20px;
}
/* .dynamic{
  padding: 8px;
  border-radius:6px;
  box-shadow: 0px 1px 5px 3px rgba(103, 94, 94, 0.491);
  
} */
th{
  background-color: rgb(172, 169, 169);
  padding: 7px;
  
}



